.section.header {
    padding: 4rem 0;
}

.router-link-active.button {
    color: #fff;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

img {
    margin-bottom: 2.5rem;
    max-width: 100%;
}

.publish-date {
    text-align: right;
}

.quote {
    background-color: #ededed;
    border-left: 5px solid #adadad;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 25px;
    padding: 8px;
    font-style: italic;
}

td.value {
    text-align: right;
}

span.timespan {
    color: #adadad;
    font-style: italic;
    font-size: .9em;
}

h4.position {
    display: inline-block;
}

img.logo {
    /* max-width: 150px; */
    float: right;
}